# db_config.py

# Путь к базе данных
DB_PATH = ""

# Конфигурация таблиц
TABLES = {
    "RR3": {
        "id": "INTEGER PRIMARY KEY",
        "timeframe": "TEXT",
        "coin_name":"TEXT",
        "signal": "TEXT",
        "open": "FLOAT",
        "SL": "FLOAT",
        "TP": "FLOAT",
        "status": "INTEGER",
        "pnl": "FLOAT",
    },
    "RR5": {
        "id": "INTEGER PRIMARY KEY",
        "timeframe": "TEXT",
        "coin_name":"TEXT",
        "signal": "TEXT",
        "open": "FLOAT",
        "SL": "FLOAT",
        "TP": "FLOAT",
        "status": "INTEGER",
        "pnl": "FLOAT",
    }
}

